/***** Page Wrapper *****/

#wrapper {
	width: 80%;
	margin: 0 auto;
}


/***** Nav Bar *****/


#navBar {
	display: flex;
	justify-content: flex-start;
	background-color: #FFB4B0;
	padding: 1em 0;
	border: 2px solid black;
}

#navBar li {
	list-style: none;
	margin-right: .25em;
}

#navBar li:not(.disabled) {
	border-right: 2px solid black;
	padding-right: .25em;
}

#navBar a {
	text-decoration: none;
}

#navBar:first-child {
	padding-left: 1em;
}


/***** Main content -- Left side/form *****/

form {
	float: left;
	background-color: #4DD7FA;
	border: 2px solid black;
	width: 20%;
}

label {
	display: block;
	padding: 1em 1em .5em;
}

input[type="range"] {
	margin: 0 1em;
	width: 85%;

}

select {
	margin: 0 1em;
	width: 85%;
}

.floatL {
	float: left;
}

button {
	display: block;
	margin: 1em auto;
	font-size: 1.1em;
	padding: .1em 2em;
}


/***** Main content -- Right side *****/

#mainDiv {
	border: 2px solid black;
	float: left;
	display: inline;
	background-color: #FEFAC0;
	margin-left: 3.2%;
	width: 76%;
}

#mainDiv h2 {
	margin-left: 1.5em;
}

.musicInfo {
	display: flex;
	justify-content: flex-start;
}

.musicInfo li {
	list-style: none;
	margin-right: 1.5em;
}

.musicInfo li:not(.disabled) {
	border-right: 2px solid black;
	padding-right: 1em;
}












